<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<nav>
  <a routerLink="/department" routerLinkactive="actives">Department</a>
  <a routerLink="/employee" routerLinkactive="actives">Employee</a>
  <a routerLink="/product" routerLinkactive="actives">Product</a>
  <a routerLink="/client" routerLinkactive="actives">Client</a>
  <a routerLink="/details" routerLinkactive="actives">Details</a>

</nav>
<router-outlet></router-outlet>
